.Sider {
    position: fixed !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    /* height: 100%; */
    top: 300px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    z-index: 1;
}

.Header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: rgba(0, 0, 0, 0.0) !important;
    z-index: 1;
}

.Footer {
    background-color: #222222 !important;
    color: white !important;
    position: relative;
    display: flex;
    justify-content: center;
}

a {
    color: white !important;
    mix-blend-mode: difference !important;
}