.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    z-index: 0;
    padding: 10px;
    padding-bottom: 30px;
}

.inContainer {
    min-width: 400px;
}

.typo_title {
    font-weight: 600;
    font-size: 52px;
    color: black !important;
    text-shadow: 2px 2px 5px gray;
    text-decoration: underline darkslategray solid 3px;
    text-underline-offset: 10px;
}